{% extends "game/game_base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/bracket.css' %}">
{% endblock head %}

{% block content %}
<div class="bracket-container">
  <!-- Ronda 1: semifinals -->
  <div class="round round-1">
    {% for player1, player2 in player_pairs %}
    <div class="match">
        <div class="player">{{ player1 }}</div>
        <form class="create-game-form" method="POST">
          {% csrf_token %}
          <div id="username" data-username="{{ request.user.username }}"></div>
          <input class="messageInput" id="opp_name" type="text" name="opp_name" placeholder="Jugar contra {{ player2 }}" />
          <button class="add_user btn btn-primary mt-2" type="submit">Iniciar Juego +</button>
        </form>
        {% if player2 %}
        <p>{{player2.tournement_game_id}}</p>
            <div class="player">{{ player2 }}</div>
            <form class="create-game-form" method="POST">
              {% csrf_token %}
              <div id="username" data-username="{{ request.user.username }}"></div>
              <!-- <input class="messageInput" id="opp_name" type="text" name="opp_name" placeholder="Jugar contra {{ player1 }}" />
              <button class="add_user btn btn-primary mt-2" type="submit">Iniciar Juego +</button> -->
              {% if player2.tournement_game_id %}
                <a class="add_user btn btn-primary mt-2" href="http://localhost:8000/game/new/{{ player2.tournement_game_id }}/">Iniciar Juego +</a>
              {% endif %}
              </form>
        {% endif %}
    </div>
  {% endfor %}
  </div>
  
  <div class="round round-3">
    <div class="match">
      <div class="player">{{ round_2_winners.0.name }}</div>
      <div class="player">{{ round_2_winners.1.name }}</div>
    </div>
    <!-- Ronda 3: finals  -->
    <div class="champion">
      <strong>{{ final_winner.name }}</strong>
    </div>
  </div>
</div>
{% endblock content %}